In [36]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [37]:
def scrape_rediff_data(type, exchange):
    if type not in ['gainers', 'losers']:
        raise ValueError("Invalid type. Choose 'gainers' or 'losers'.")
    if exchange not in ['nse', 'bse']:
        raise ValueError("Invalid exchange. Choose 'nse' or 'bse'.")

    url = f'https://money.rediff.com/{type}/{exchange}/daily/groupall'

    response = requests.get(url)
    html_content = response.text

    soup = BeautifulSoup(html_content, 'html.parser')
    table = soup.find('table', class_='dataTable')

    if table:
        first_column_data = []
        third_column_data = []
        fourth_column_data = []
        fifth_column_data = []

        for row in table.find_all('tr'):
            columns = row.find_all('td')

            if exchange == 'nse':
                if len(columns) >= 5:
                  first_column_data.append(columns[0].find('a').text.strip())
                  third_column_data.append(columns[1].text.strip())
                  fourth_column_data.append(columns[2].text.strip())
                  fifth_column_data.append(columns[3].text.strip())
            else:
                if len(columns) >= 6:
                  first_column_data.append(columns[0].find('a').text.strip())
                  third_column_data.append(columns[2].text.strip())
                  fourth_column_data.append(columns[3].text.strip())
                  fifth_column_data.append(columns[4].text.strip())

        df = pd.DataFrame({
            'Company Name': first_column_data,
            'Last Price': third_column_data,
            'Change (price)': fourth_column_data,
            'Change %': fifth_column_data
        })

        return df

    else:
        print(f"Table with class 'dataTable' not found on {url}.")
        return None

In [38]:
gainers_bse_df = scrape_rediff_data('gainers', 'bse')
print("Gainers from BSE:")
print(gainers_bse_df.head(10))

Gainers from BSE:
          Company Name Last Price Change (price)  Change %
0      Lahoti Overseas      40.10          48.12  +  20.00
1     Starteck Finance     292.30         350.75  +  20.00
2     Windsor Machines     107.70         129.24  +  20.00
3     Sharda Ispat Ltd     412.25         494.70  +  20.00
4      City Crops Agro      26.20          31.44  +  20.00
5        Kalyani Forge     554.55         665.45  +  20.00
6   Fino Payments Bank     284.85         341.80  +  19.99
7     Orient Tradelink       8.48          10.17  +  19.93
8       HIM Teknoforge     147.95         171.35  +  15.82
9  Innovatus Entertain      32.00          36.99  +  15.59

In [39]:
losers_bse_df = scrape_rediff_data('losers', 'bse')
print("Gainers from BSE:")
print(losers_bse_df.head(10))

Gainers from BSE:
           Company Name Last Price Change (price) Change %
0     Inditrade Capital      27.21          21.77   -19.99
1        Jetmall Spices      13.25          10.81   -18.42
2      Banas Finance Lt      11.95          10.48   -12.30
3  GCM Capital Advisors       8.20           7.38   -10.00
4  Money Masters Leasin     135.95         122.40    -9.97
5  S & T Corporation Lt      32.09          28.95    -9.78
6  Chandra Bhagat Pharm      95.40          86.45    -9.38
7  KP Green Engineering     636.95         577.25    -9.37
8         Shelter Infra      11.55          10.51    -9.00
9      Coral Newsprints      12.50          11.41    -8.72

In [40]:
gainers_nse_df = scrape_rediff_data('gainers', 'nse')
print("\nLosers from NSE:")
print(gainers_nse_df.head(10))

Losers from NSE:
          Company Name Last Price Change (price) Change %
0   Fino Payments Bank     285.05         342.05   +20.00
1        Kalyani Forge      552.6         663.10   +20.00
2     Starteck Finance     292.32         350.78   +20.00
3     Windsor Machines     107.83         129.39   +19.99
4       Tirupati Forge      22.52          27.02   +19.98
5   MITCON Consultancy      156.3         182.29   +16.63
6        Tera Software      81.52          93.37   +14.54
7     Khaitan Chemical      68.23          76.86   +12.65
8      Rama Phosphates     192.56         215.29   +11.80
9  LE Travenues Techno     165.72         184.86   +11.55

In [41]:
losers_nse_df = scrape_rediff_data('losers', 'nse')
print("\nLosers from NSE:")
print(losers_nse_df.head(10))

Losers from NSE:
           Company Name Last Price Change (price) Change %
0     Kamdhenu Ventures      39.88          36.90    -7.47
1      Bhandari Hosiery       8.73           8.12    -6.99
2    Motisons Jewellers     184.65         172.34    -6.67
3                 Sobha     2159.7       2,018.65    -6.53
4  ZF Commercial Vehicl   17277.15      16,244.85    -5.97
5       Motor & General      35.83          33.70    -5.94
6      Man Industries I     419.45         396.15    -5.55
7  Inventure Growth & S       2.89           2.73    -5.54
8        KEI Industries     4690.3       4,435.35    -5.44
9     Authum Investment    1067.55       1,009.95    -5.40

## Saving them to csv

In [42]:
gainers_bse_df.to_csv('Gainers_BSE.csv', index=False)
losers_bse_df.to_csv('Losers_BSE.csv', index=False)
gainers_nse_df.to_csv('Gainers_NSE.csv', index=False)
losers_nse_df.to_csv('Losers_NSE.csv', index=False)

print("DataFrames have been saved to CSV files.")

DataFrames have been saved to CSV files.